.login-signup-container {
  display: flex;
  flex-direction: row;
  margin-top: 10h;
  margin-bottom: 10vh;
}

.login-signup-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50vw;
}

.login-signup-right {
  height: 100vh;
  display: flex;
  width: 50vw;
  position: relative;
}

.form-heading {
  font-size: 2.5rem;
  text-align: left;
  transform: translate(-15px, 0);
  margin-bottom: 30px;
}

.form-detail {
  align-self: flex-start;
  transform: translate(-15px, 0);
  color: #75808A;
  margin-bottom: 10px;
}

.from-input {
  border: none;
  background-color: #dfe3e7;
  color: #75808a;
  border-radius: 5px;
  padding: 15px 15px;
  margin: 15px;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  outline: none;
}

.submit-button {
  display: block;
  padding: 15px 15px;
  margin: 15px;
  width: 108%;
  background-color: rgb(181 20 110);
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
}

.submit-button:hover {
  background-color:rgb(163, 16, 100);
}

.btn {
  display: block;
  padding: 5px 15px 15px;
  margin: 15px 15px 5px;
  width: 108%;
  background-color: #F2F1F1;
  color: #191C1F;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  z-index: 4;
}

button:hover {
  cursor: pointer;
}

.btn-img {
  transform: translate(-30%, 25%);
}

.form-a {
  text-decoration: none;
  color: rgb(181 20 110);;
}

.form-p {
  color: #75808A;
}

.top-right {
  position: fixed;
  left: 80%;
  top: 18%;
}

.mid {
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  z-index: 3;
}

.bottom-left {
  position: fixed;
  left: 62%;
  top: 58%;
}

.seprator {
  border-top: 1px solid black;
  position: relative;
}

.seprator:after {
  content: "or";
  position: absolute;
  top: -11px;
  left: 45%;
  background-color: #fff;
  color: #75808A;
  padding: 0px 10px;
}

.other-login-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  z-index: 4;
}

.from-select {
  display: block;
  padding: 15px 15px;
  margin: 15px;
  width: 108%;
  background-color: #dfe3e7;
  color: #75808a;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  outline: none;
  padding-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}