@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@400;500&display=swap');

:root {
    --heading: #191C1F;
    --para: #75808A;
    --btn: rgb(181 20 110);
    --btn-bg: #F2F1F1;
}

* {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

/* Navigation */


.nav-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 5vw;
    background-color: var(--btn-bg);
    border-radius: 10px;
    padding-left: 20px;
}

.nav-button {
    margin: 10px 0;
    padding: 15px 10px;
    font-size: 1rem;
    background: none;
    border: none;
    text-align: left;
}

.icon {
    height: 30px;
    transform: translate(0, 2px);
    margin-right: 10px;
    translate: 0 7px;
    background: none;
}

.icon-c {
    height: 20px;
}

.icon-l {
    height: 25px;
    translate: 0 4px;
    margin-right: 15px;
    margin-left: 4px;
}

/* Dashboard  */

.Dashborad-container {
    display: flex;
    column-gap: 80px;
    width: 60vw;
    margin: auto;
}

.DashboardBody-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    width: 100%;
}

.body-header {
    background-image: url(https://olive-content.axisbank.com/card_face/521.png);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0 20px;
    color: white;
    padding-bottom: 20px;
    box-shadow: 2px 2px 9px 2px gray;
    display: flex;
    align-items: center;
}

.card-heading {
    padding-top: 60px;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.card-about {
    padding-top: 10px;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.card-validity {
    padding-top: 5px;
    font-size: .8rem;
    font-family: sans-serif;
}

.card-validity-date {
    font-weight: bold;
    letter-spacing: 2.2px;
}

.card-name {

    padding-top: 30px;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.card-number {
    margin-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.2px;
}


.current-statement {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0px 20px;
    margin-bottom: 20px;
    background-color: var(--btn-bg);

}

.current-statement-heading {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 25px;
}

.current-statement-heading button {
    background: none;
    border: none;
    font-size: 1.5rem;
    transform: translate(0, -10px);

}

.sub-current-statement-heading {
    display: flex;
}

.icn {
    transform: translate(0, 10px);
}

.current-statement-body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 35px;

}

.current-statement-body-p {
    padding-bottom: 20px;
    color: var(--para);
}

.success {
    background-color: rgb(181 20 110);
    border-radius: 8px;
    padding: 14px 30px;
    color: white;
}

.failed {
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    padding: 10px 30px;
}

.body-footer {
    color: var(--para);
}


/* Transaction */


.Transaction-container {
    display: flex;
    column-gap: 80px;
    width: 60vw;
    margin: auto;
}

.TransactionBody-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    width: 100%;
}

.transaction-history {
    margin-top: 20px;
    background-color: var(--btn-bg);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0 20px;
}

.transaction-history-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}

.transaction-done {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--para);
}


/* Control Center  */

.ControlCenter-container {
    display: flex;
    column-gap: 80px;
    width: 60vw;
    margin: auto;
}

.ControlCenterBody-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    width: 100%;
}

.ControlCenterBody-features {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.ControlCenterBody-features-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--btn-bg);
    padding: 20px;
    border-radius: 10px;
    color: var(--para);
}

.ControlCenterBody-features-card-l {
    transform: translate(-20px, 0);
}

.ControlCenterBody-features-card-r {
    transform: translate(20px, 0);
}

.ControlCenterBody-features-card div {
    display: flex;
    justify-content: space-between;

}

.ControlCenterBody-features-card button {
    background: none;
    border: none;
    font-size: 1.5rem;
    transform: translate(0, -5px);
}

.ControlCenterBody-features-card p {
    padding-top: 20px;
}

/* btn  */
.switch {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 1.2rem;
    background-color: var(--para);
    border-radius: 1.2rem;
    transition: all .4s linear;
}

.switch::after {
    content: "";
    position: absolute;
    top: .15rem;
    left: .15rem;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all .4s linear;
}

#toggle:checked+.switch:after {
    transform: translate(1rem, 0);
}

#toggle:checked+.switch {
    background-color: var(--btn);
}

#toggle {
    display: none;
}

.udeBillStatus {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #a8a8a8;
}

.gapper {
    font-family: sans-serif;
    line-height: 30px;
}

.card-cvv {
    position: relative;
    top: 120px;
    right: -110px;
}

/*
-------------------------------------------
        Recharge Section
-------------------------------------------
*/

.transaction-history .inputCont {
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction-history .inputCont span {
    padding-bottom: 100px;
    font-weight: 600;
    font-size: 20px;
}

.transaction-history .inputCont input {
    padding: 20px 0 20px 10px;
    margin-bottom: 100px;
    font-weight: bold;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: #F2F1F1;
}

.transaction-history .inputCont button {
    padding: 15px;
    margin-bottom: 100px;
    background-color: rgb(181 20 110);
    color: #FFF;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}


/*=================================
    basic snippet 
=====================================*/

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pb-30{
    padding-bottom: 30px;
}

.mb-10{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
    font-family: 'Roboto';
}

.h-115{
    height: 115px;
}